.footer{
    padding-left: 10vw;
    background-color: #0f0f0f;
    color: #ffff;
    padding-block: 3em;
    display: grid;
    grid-template-columns:2fr 1fr 1fr ;
    grid-gap:1em;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    .footer-section{
        p{
            opacity: .9;
            margin-bottom: .5em;
        }
        p.title{
            opacity: 1;
            font-size: 1.1em;
            margin-bottom: 1em;
            font-weight: bold;
        }

    }
}