.recipe-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; 
    border-radius: 20px;
    background: linear-gradient(to bottom, #cfcfcf, #ffffff);
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.page-title img {
    margin-left: 10px;
    width: 70;
    height: 50px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));

}

  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
  
  .close-button:hover {
    background-color: lighten(#ff0056, 30%);
}
  
  .close-button:focus {
    outline: none;
}
  
  
.recipes-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px ;
    align-items:center;
    animation: scoot-up .4s;
    animation-timing-function: ease-out;
    transform-origin: 50% 0px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    opacity: 1;
    animation: fade-in .4s;
    display: block;
    z-index: 9999;
}
@keyframes scoot-up {
  0%   { margin-top: 80px;}
  100%  { margin-top: 50px; }
}
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

  

  